<% html_title t(:label_kittens) %>

<h1><%= t(:label_kittens) %></h1>

<p>
Group Members:  Muhammad Baloch,<br>
                Vincent Chan,<br>
                Christian Anwanaodung,<br>
                Samuel Iregbu<br>
</p>


<pre>
  /********************/<br>
  /*Table goes here   */<br>
  /*Hello I am "Name" */<br>
  /*Today's date is   */<br>
  /*        "Date"    */<br>
  /********************/<br>
</pre>

<style>
table, th, td {
border: 1px solid black;
padding: 5px;
}
table {
border-spacing: 15px;
}
</style>
</head>
<body>

<table style="width:100%">
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>Age</th>
</tr>
<tr>
<td>Vincent</td>
<td>CHAN</td>
<td>N/A</td>
</tr>
<tr>
<td>SAMUEL</td>
<td>IREGBU</td>
<td>N/A</td>
</tr>
<tr>
<td>CHRISTIAN</td>
<td>JOHN</td>
<td>N/A</td>
</tr>
<tr>
<td>BALOCH</td>
<td>ALI</td>
<td>N/A</td>
</tr>
</table>


<%= render "shared/kitty_image" %>

