<% html_title t(:label_kittens) %>

<h1><%= t(:label_kittens) %></h1>

<style>
table, th, td {
border: 1px solid black;
padding: 5px;
background-color: #f1f1c1;
}
table {
border-spacing: 15px;
}

</style>

<body>
    <p>
      ENSE 374 Project:
    </p>
    
    <pre>
    Group Members:  Muhammad Baloch,<br>
                    Vincent Chan,<br>
                    Christian Anwanaodung,<br>
                    Samuel Iregbu<br>
    </pre>
    
    <pre>
        We are presenting at 4:00 on December 1, 2017.<br>
    </pre>
    
    <table style="width:100%">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Vincent</td>
            <td>CHAN</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>SAMUEL</td>
            <td>IREGBU</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>CHRISTIAN</td>
            <td>JOHN</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>BALOCH</td>
            <td>ALI</td>
            <td>N/A</td>
        </tr>
    </table>
</body>

<%= render "shared/kitty_image" %>

